.mypoint {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  height: 52px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  p {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #00CC00;
  }
}
